/*
 * Dashicons mixin
 * use: @include dashicons( '\f140' );
 */
html {
  background: #fff;
}

/* Links */
a {
  color: #16a085;
}
a:hover, a:active, a:focus {
  color: #1abc9c;
}

#rightnow a:hover,
#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover,
.ui-tabs-nav a:hover {
  color: #1abc9c;
}

/* Forms */
input[type=checkbox]:checked:before {
  color: #d35400;
}

input[type=radio]:checked:before {
  background: #d35400;
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
  color: #1abc9c;
}

/* Core UI */
.wp-core-ui .button-primary {
  background: #1abc9c;
  color: white;
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
  background: #15987e;
  color: white;
}
.wp-core-ui .button-primary:active {
  background: #15987e;
  color: white;
}
.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled {
  color: #c7d1cf !important;
  background: #15987e !important;
  text-shadow: none !important;
}
.wp-core-ui .button-secondary {
  background: #bdc3c7;
  color: white;
  border: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.wp-core-ui .button-secondary:hover, .wp-core-ui .button-secondary:focus {
  background: #a7afb4;
  color: white;
}
.wp-core-ui .button-secondary:active {
  background: #a7afb4;
  color: white;
}
.wp-core-ui .button-secondary[disabled], .wp-core-ui .button-secondary:disabled, .wp-core-ui .button-secondary.button-primary-disabled {
  color: #c7cdd1 !important;
  background: #a7afb4 !important;
  text-shadow: none !important;
}
.wp-core-ui .wp-ui-primary {
  color: #fff;
  background-color: #2c3e50;
}
.wp-core-ui .wp-ui-text-primary {
  color: #2c3e50;
}
.wp-core-ui .wp-ui-highlight {
  color: #1abc9c;
  background-color: #2c3e50;
}
.wp-core-ui .wp-ui-text-highlight {
  color: #2c3e50;
}
.wp-core-ui .wp-ui-notification {
  color: #1abc9c;
  background-color: #e74c3c;
}
.wp-core-ui .wp-ui-text-notification {
  color: #e74c3c;
}
.wp-core-ui .wp-ui-text-icon {
  color: #95a5a6;
}

/* List tables */
.wrap .add-new-h2:hover,
#add-new-comment a:hover,
.tablenav .tablenav-pages a:hover,
.tablenav .tablenav-pages a:focus {
  color: #fff;
  background-color: #34495e;
}

.view-switch a.current:before {
  color: #34495e;
}

.view-switch a:hover:before {
  color: #e74c3c;
}

.post-com-count:hover:after {
  border-top-color: #34495e;
}

.post-com-count:hover span {
  color: #fff;
  background-color: #34495e;
}

strong .post-com-count:after {
  border-top-color: #e74c3c;
}

strong .post-com-count span {
  background-color: #e74c3c;
}

/* Admin Menu */
#adminmenuback,
#adminmenuwrap,
#adminmenu {
  background: #34495e;
}

#adminmenu a {
  color: #fff;
}

#adminmenu div.wp-menu-image:before {
  color: #95a5a6;
}

#adminmenu a:hover,
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  color: #1abc9c;
  background-color: #2c3e50;
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #fff;
}

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
  border-bottom-color: #fff;
}

/* Admin Menu: submenu */
#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #395067;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #395067;
}

#adminmenu .wp-submenu .wp-submenu-head {
  color: #c0c5cb;
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #c0c5cb;
}
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu .wp-submenu a:hover,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
  color: #1abc9c;
}

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #fff;
}
#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
  color: #1abc9c;
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  border-right-color: #fff;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
  color: #1abc9c;
  background: #2c3e50;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
  color: #fff;
}

/* Admin Menu: bubble */
#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
  color: #1abc9c;
  background: #e74c3c;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
  color: #1abc9c;
  background: #e74c3c;
}

/* Admin Menu: collapse button */
#collapse-menu {
  color: #95a5a6;
}

#collapse-menu:hover {
  color: #fff;
}

#collapse-button div:after {
  color: #95a5a6;
}

#collapse-menu:hover #collapse-button div:after {
  color: #fff;
}

/* Admin Bar */
#wpadminbar {
  color: #fff;
  background: #34495e;
}

#wpadminbar .ab-item,
#wpadminbar a.ab-item,
#wpadminbar > #wp-toolbar span.ab-label,
#wpadminbar > #wp-toolbar span.noticon {
  color: #fff;
}

#wpadminbar .ab-icon,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before,
#wpadminbar .ab-item:after {
  color: #95a5a6;
}

#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #fff;
  background: #415b75;
}

#wpadminbar > #wp-toolbar li:hover span.ab-label,
#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar > #wp-toolbar a:focus span.ab-label {
  color: #fff;
}

#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #fff;
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #415b75;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #475b6f;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: #ebedef;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
  color: #95a5a6;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li.hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  color: #fff;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover .ab-item:after,
#wpadminbar li.hover .ab-item:after,
#wpadminbar li:hover #adminbarsearch:before {
  background: #537496;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #fff;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #95a5a6;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #fff;
  background: #415b75;
}

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #fff;
  opacity: .7;
}

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #fff;
  opacity: .7;
}

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #fff;
  opacity: .7;
}

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #fff;
  opacity: .7;
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #415b75;
  background-color: #415b75;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #fff;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #fff;
}

#wpadminbar #wp-admin-bar-user-info .username {
  color: #ebedef;
}

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #1abc9c;
}

.wp-pointer .wp-pointer-content h3:before {
  color: #1abc9c;
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow {
  border-bottom-color: #1abc9c;
}

/* Media Uploader */
.media-item .bar,
.media-progress-bar div {
  background-color: #1abc9c;
}

.details.attachment {
  box-shadow: 0 0 0 1px #fff, 0 0 0 5px #1abc9c;
}

.attachment.details .check {
  background-color: #1abc9c;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #1abc9c;
}

/* Themes */
.theme-browser .theme.active .theme-name,
.theme-browser .theme.add-new-theme:hover:after {
  background: #1abc9c;
}

.theme-browser .theme.add-new-theme:hover span:after {
  color: #1abc9c;
}

.theme-overlay .theme-header .close:hover,
.theme-overlay .theme-header .right:hover,
.theme-overlay .theme-header .left:hover {
  background: #1abc9c;
}

/* jQuery UI Slider */
.wp-slider .ui-slider-handle,
.wp-slider .ui-slider-handle.ui-state-hover,
.wp-slider .ui-slider-handle.focus {
  background: #1abc9c;
  border-color: #148f77;
  -webkit-box-shadow: inset 0 1px 0 #3ee4c4, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #3ee4c4, 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #95a5a6;
}

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #2c3e50;
}

.star-rating .star {
  color: #1abc9c;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #395067;
}

input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
select:focus,
textarea:focus {
  border-color: #1abc9c;
  -webkit-box-shadow: 0 0 2px #1abc9c;
  box-shadow: 0 0 2px #1abc9c;
}

a {
  color: #34495e;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
  background: #1abc9c;
}

#adminmenu div.wp-menu-name {
  padding: 8px 0;
}

::selection {
  background: #81eed8;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #81eed8;
  /* Gecko Browsers */
}

.media-frame.mode-grid .attachment.details:focus,
.media-frame.mode-grid .attachment:focus,
.media-frame.mode-grid .selected.attachment:focus {
  -webkit-box-shadow: inset 0 0 2px 3px #f1f1f1, inset 0 0 0 7px #1abc9c;
  box-shadow: inset 0 0 2px 3px #f1f1f1, inset 0 0 0 7px #1abc9c;
}

.wrap .add-new-h2, .wrap .add-new-h2:active {
  background: #ffffff;
}

/*# sourceMappingURL=style.css.map */
